# =====================
# JetBrains / WebStorm
# =====================
.idea/

# =====================
# Node / JavaScript
# =====================
node_modules/

# =====================
# OS junk
# =====================
.DS_Store
Thumbs.db
